<thead>
	<th>Task Description</th>
	<th>Delete</th>
	<th>Edit</th>
	<th>Details</th>
</thead>
<tbody>
	
	<tr *ngFor="let task of tasks">
		<td *ngIf="current_taskID !== task.taskID">
			<tr class='description'>
				<p appTaskdirective>{{task.description}}</p>
			</tr>
		<tr class='taskID' *ngIf="task.show_more">
			taskID : {{task.taskID}}
		<tr class='priority' *ngIf="task.show_more">
				Priority : {{task.priority}}
		</tr>
		<tr class='due_date' *ngIf="task.show_more">
				Task Due Date : {{task.due_date}}
		</tr>

		<div *ngFor="let myemp2 of emp"> 
		<div *ngIf="task.show_more && task.emp_id === myemp2.id">
		<tr class='emp_id'>
				Employee Name : {{myemp2.first_name}} {{myemp2.last_name}}
		</tr>
		</div>
		</div>

		<div *ngFor="let mydept2 of depts">
		<div *ngIf="task.show_more && task.dept_id === mydept2.id">
		<tr class="dept_id">
				Department Name : {{mydept2.name}}
		</tr>
		</div>
		</div>
	</td>
	<td *ngIf="current_taskID === task.taskID" class="form">
			<input name='get_description' type='text' placeholder='description' [(ngModel)]="get_description" />
			<select [(ngModel)]="get_priority">
  			<option value="Urgent">Urgent</option>
  			<option value="Medium">Medium</option>
  			<option value="Low">Low</option>
			</select>
			<input type="date" name="due_date" placeholder="due_date" [(ngModel)]="get_due_date">

			<select [(ngModel)]="get_emp_id">
			<option value="">Employee</option>
	  		<option value=0>0</option>
	  		<option value=1>1</option>
	  		<option value=2>2</option>
			</select>

			<select [(ngModel)]="get_dept_id">
			<option value="">Department</option>
  			<option value=1>1</option>
  			<option value=2>2</option>
  			<option value=3>3</option>
  			<option value=4>4</option>
  			<option value=5>5</option>
  			<option value=6>6</option>
			</select>
			<input type='submit' value='save' (click)='edit(task.taskID)' />
		</td>

	<td><button class="btn-function1" (click)='deleteq(task.taskID)'>Delete</button></td>
	<td><button class="btn-function2" (click)='getValueOfSelectedId(task.taskID, task.description, task.priority, task.due_date, task.emp_id, task.dept_id)'>Edit</button></td>
	<td class='view-more' (click)='task.show_more =!task.show_more'>
	<span *ngIf='!task.show_more'>Show More</span>
	<span *ngIf='task.show_more'>Show Less</span>

	</td>



	</tr>

</tbody>

<div class="addTask">
	<form>
		<input name='description' type='text' placeholder='description' [(ngModel)]="description" />
		 <!-- <input type="radio" name="priority" value="Urgent" [(ngModel)]="priority" checked> Urgent <br>
  		<input type="radio" name="priority" value="Medium" [(ngModel)]="priority"> Medium <br>
  		<input type="radio" name="priority" value="Low" [(ngModel)]="priority"> Low <br> -->
  		<select name="priority" [(ngModel)]="priority">
  		<option value="Urgent">Urgent</option>
  		<option value="Medium">Medium</option>
  		<option value="Low">Low</option>
		</select>
		<input type="date" name="due_date" placeholder="due_date" [(ngModel)]="due_date">

		<select name="employee" [(ngModel)]="emp_id">
		<option value="">Employee</option>
  		<option *ngFor="let myemp of emp" value={{myemp.id}}>{{myemp.first_name}} {{myemp.last_name}}</option>
		</select>

		<select name="department" [(ngModel)]="dept_id">
		<option value="">Department</option>
  		<option *ngFor="let mydept of depts" value={{mydept.id}}>{{mydept.name}}</option>
		</select>

		<input type="submit" value='add Task' (click)='insert()' />
</form>
</div>
 