th, td {
    border: 0.5px solid black;
    
 }

 th {
    background: rgba(255, 99, 71, 1);
    padding: 7px;
    vertical-align: baseline;
    border: 0.5px solid black;

}

td {
    padding: 5px;
}

/*thead, tbody {
    margin-right: auto;
    margin-left: auto;
}*/

  div.container {
    width:98%; 
    margin:1%;
  }
  table#table1 {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:700px;
  }

.delete-btn {
    cursor: pointer;
    font-family: sans-serif;
    border: none;
    color: red;
}

.edit-btn {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.description {
    font-weight: bold;
}

.view-more {
    font-weight: 100;
    color: #ff4949;
    text-decoration: underline;
    cursor: pointer;
}

.form {
    height: 36px;
}

.extras {

}

.add {
    margin-top: 15px;
}

.btn-function1 {
    background-color: red; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

.btn-function2 {
    background-color: #e7e7e7; /* gray */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

.searchbar {
    text-align: justify-all;
    padding: 5px;
}

#search {
    font-size: 15px;
    text-align: center;

}

input#desc_edit {
    width: 100%;

}

input#calendarduedate {
    width: 100px;
}