<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Warning!</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<label for="">Read this carefully! Our group are consisted of Thibault, Nhi and Hafizh. This project is designed by
				using Angular and Bootstrap</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Read This</button>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<div class="text">Search Task:</div>
			<input class="form-control" name="description" [(ngModel)]="searchText" placeholder="Task Description">
			<br>

			<h2>Tasks</h2>
			<table class="table table-hover">
				<tbody>
					<tr *ngFor="let task of tasks | filter: searchText">
						<td class="leftCol" *ngIf="current_taskID !== task.taskID">
					<tr>
						<div appTaskdirective>{{task.description}}</div>
					</tr>
					<td *ngIf="task.show_more">
						Task ID: {{task.taskID}}<br>Priority: {{task.priority}}<br>Task Due Date: {{task.due_date}}
						<div *ngFor="let myemp2 of emp">
							<div *ngFor="let myemp3 of emp">
							<div *ngIf="task.emp_id[0] === myemp2.id && task.emp_id[1] === myemp3.id">
					<tr>
						Employee 1 Name: 
						{{myemp2.first_name}} {{myemp2.last_name}}
					</tr>
					<tr>
						Employee 2 Name: 
						{{myemp3.first_name}} {{myemp3.last_name}}
					</tr>
				</div>
					
		</div>
	</div>
	<div *ngFor="let mydept2 of depts">
		<div *ngIf="task.dept_id === mydept2.id">
			<tr>
				Department Name: {{mydept2.name}}
			</tr>
		</div>
	</div>
	</td>
	</td>

	<!--Edit form-->
	<td *ngIf="current_taskID === task.taskID">
		
			<input class="form-control" name='get_description' type='text' placeholder='Description' [(ngModel)]="get_description" />
			<select class="d-inline-block form-control" name="get_priority" [(ngModel)]="get_priority">
				<option value="Urgent">Urgent</option>
				<option value="Medium">Medium</option>
				<option value="Low">Low</option>
			</select>
			<input type="date" name="due_date" placeholder="due_date" [(ngModel)]="get_due_date" class="form-control">
			<select class="d-inline-block form-control" name="get_emp_id" [(ngModel)]="get_emp_id">
				<option *ngFor="let myemp2 of emp" name="emp_id" value={{myemp2.id}}>{{myemp2.first_name}} {{myemp2.last_name}}</option>
			</select>


			<select class="d-inline-block form-control" name="dept_id" [(ngModel)]="get_dept_id">
				<option *ngFor="let mydept2 of depts" value={{mydept2.id}}>{{mydept2.name}}</option>
			</select>
			<input type='submit' id="right" class="btn-info" value='Save' (click)='edit(task.taskID)' />
		
	</td>

	<td class="rightCol">
		<div class="btn btn-sm btn-info" (click)='task.show_more =!task.show_more'>
			<span *ngIf='!task.show_more'>Show More</span>
			<span *ngIf='task.show_more'>Show Less</span>
		</div>
		<div class="btn btn-sm btn-light" (click)='getValueOfSelectedId(task.taskID, task.description, task.priority, task.due_date, task.emp_id, task.dept_id)'>Edit</div>
		<div class="btn btn-sm btn-dark" (click)='deleteq(task.taskID)'>Delete</div>
	</td>


	</tr>
	</table>

	<!--Add Form-->
	<div class="text">Add a task to the list:</div>
	<div>
		<form>
			<input name='description' type='text' placeholder='Description' [(ngModel)]="description" class="form-control" />
			<!-- <input type="radio" name="priority" value="Urgent" [(ngModel)]="priority" checked> Urgent <br>
						  <input type="radio" name="priority" value="Medium" [(ngModel)]="priority"> Medium <br>
						  <input type="radio" name="priority" value="Low" [(ngModel)]="priority"> Low <br> -->
			<select name="priority" [(ngModel)]="priority" class="d-inline-block form-control">
				<option value=null selected disabled hidden>Priority</option>
				<option value="Urgent">Urgent</option>
				<option value="Medium">Medium</option>
				<option value="Low">Low</option>
			</select>
<!-- 			<input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="due_date"/>
 -->			
 				<!-- <input type="date" name="due_date" placeholder="due_date" [(ngModel)]="due_date">	
 				<input type="date" name="due_date" placeholder="due_date" [(ngModel)]="due_date"> -->
			
			<input type="date" name="due_date" placeholder="due_date" ngbDatepicker [(ngModel)]="due_date" class="form-control">


			<select name="employee" [(ngModel)]="emp_id[0]" class="d-inline-block form-control">
					<option value=null selected disabled hidden>Employee</option>
				<option *ngFor="let myemp of emp" value={{myemp.id}}>{{myemp.first_name}} {{myemp.last_name}}</option>
			</select>
			<select name="employee" [(ngModel)]="emp_id[1]" class="d-inline-block form-control">
					<option value=null selected disabled hidden>Employee</option>
				<option *ngFor="let secondmyemp of emp" value={{secondmyemp.id}}>{{secondmyemp.first_name}} {{secondmyemp.last_name}}</option>
			</select>


			<select name="department" [(ngModel)]="dept_id" class="d-inline-block form-control">
					<option value=null selected disabled hidden>Department</option>
				<option *ngFor="let mydept of depts" value={{mydept.id}}>{{mydept.name}}</option>
			</select>

			<input type="submit" value='Add Task' (click)='insert()' id="right" class="btn btn-info" />
		</form>
	</div>

</div>
</div>
</div>


<!--HAFIZH'S CODE-->


<!-- <div class="container">
	<table id="table1">
		<thead>
			<th>Task Description</th>
			<th>Delete</th>
			<th>Edit</th>
			<th>Details</th>
		</thead>
		<tbody>

			<tr *ngFor="let task of tasks | filterTask: searchText">
				<td *ngIf="current_taskID !== task.taskID">
			<tr class='name'>
				<p appTaskdirective>{{task.description}}</p>
			</tr>
			<div>
				<tr class='taskID' *ngIf="task.show_more">
					taskID : {{task.taskID}}
				</tr>
			</div>
			<div>
				<tr class='priority' *ngIf="task.show_more">
					Priority : {{task.priority}}
				</tr>
			</div>
			<div>
				<tr class='due_date' *ngIf="task.show_more">
					Task Due Date : {{task.due_date}}
				</tr>
			</div>

			<div *ngFor="let myemp2 of emp">
				<div *ngIf="task.show_more && task.emp_id === myemp2.id">
					<tr class='emp_id'>
						Employee Name : {{myemp2.first_name}} {{myemp2.last_name}}
					</tr>
				</div>
			</div>
			<div *ngFor="let mydept2 of depts">
				<div *ngIf="task.show_more && task.dept_id === mydept2.id">
					<tr class="dept_id">
						Department Name : {{mydept2.name}}
					</tr>
				</div>
			</div>
			</td>


			<td *ngIf="current_taskID === task.taskID" class="form">
				<tr>
					<input id="desc_edit" name='get_description' type='text' placeholder='description' [(ngModel)]="get_description" />
				</tr>
				<tr>
					<select [(ngModel)]="get_priority">
						<option value="Urgent">Urgent</option>
						<option value="Medium">Medium</option>
						<option value="Low">Low</option>
					</select>
				</tr>
				<tr>
					<input type="date" name="due_date" placeholder="due_date" [(ngModel)]="get_due_date">
				</tr>
				<tr>
					<select [(ngModel)]="get_emp_id">
						<option value="">Employee</option>
						<option value=0>0</option>
						<option value=1>1</option>
						<option value=2>2</option>
					</select>
				</tr>
				<tr>
					<select [(ngModel)]="get_dept_id">
						<option value="">Department</option>
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=6>6</option>
					</select>
				</tr>
				<tr>
					<input type='submit' value='save' (click)='edit(task.taskID)' />
				</tr>
			</td>

			<td><button class="btn-function1" (click)='deleteq(task.taskID)'>Delete</button></td>
			<td><button class="btn-function2" (click)='getValueOfSelectedId(task.taskID, task.description, task.priority, task.due_date, task.emp_id, task.dept_id)'>Edit</button></td>
			<td class='view-more' (click)='task.show_more =!task.show_more'>
				<span *ngIf='!task.show_more'>Show More</span>
				<span *ngIf='task.show_more'>Show Less</span>

			</td>



			</tr>

		</tbody>
	</table>
</div>

<div class="addTask">
	<form>
		<input name='description' type='text' placeholder='description' [(ngModel)]="description" />
 -->		<!-- <input type="radio" name="priority" value="Urgent" [(ngModel)]="priority" checked> Urgent <br>
  		<input type="radio" name="priority" value="Medium" [(ngModel)]="priority"> Medium <br>
  		<input type="radio" name="priority" value="Low" [(ngModel)]="priority"> Low <br> -->
<!-- 		<select name="priority" [(ngModel)]="priority">
			<option value="Urgent">Urgent</option>
			<option value="Medium">Medium</option>
			<option value="Low">Low</option>
		</select> -->
		<!-- <input type="date" name="due_date" placeholder="due_date" [(ngModel)]="due_date"> -->
<!-- 		<input type="text" id="calendarduedate" ngbDatepicker (dateSelect)=[(ngModel)] />
		<button (click)="d.toggle()">Due Date</button>

		<select name="employee" [(ngModel)]="emp_id">
			<option value="">Employee</option>
			<option *ngFor="let myemp of emp" value={{myemp.id}}>{{myemp.first_name}} {{myemp.last_name}}</option>
		</select>

		<select name="department" [(ngModel)]="dept_id">
			<option value="">Department</option>
			<option *ngFor="let mydept of depts" value={{mydept.id}}>{{mydept.name}}</option>
		</select>

		<input type="submit" value='add Task' (click)='insert()' />
	</form>
</div> -->



<!-- <div class="row">
			<div class="col">
				<div ngbDropdown class="d-inline-block">
      			<button [(ngModel)]="dept_id" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Employee</button>
      			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
		        <button *ngFor="let myemp of emp" value={{myemp.id}} class="dropdown-item">{{myemp.first_name}} {{myemp.last_name}}</button>
		      </div>
		    </div>
		  </div>
		</div> -->








<!---COMMENT-->
