<div>Search Department:</div>
<input [(ngModel)]="searchText" placeholder="Department Name">
<thead>
    <tr>
      <th>Departments</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let department of departments | filter: searchText">
      <td *ngIf="currentDptId !== department.id">
        <tr class='name'>{{department.name}}</tr>
        <tr class='view-more' (click)='department.show_extra=!department.show_extra'>
          <span *ngIf='!department.show_extra'>show more</span>
          <span *ngIf='department.show_extra'>show less</span>
        </tr>
        <tr class='extras' *ngIf="department.show_extra">ID: {{department.id}}<br>{{department.description}}<br><div>Employees: {{department.empNames}}</div></tr>
      </td>
  <!--Edit Form-->
      <td *ngIf="currentDptId === department.id" class="form">
        <form>
          <input type='text' [(ngModel)]="editName" name='editName' placeholder='Department Name'>
          <input type='text' [(ngModel)]="editDescription" name='editDesc' placeholder='Description'>
          <input type='submit' value='save' (click)='updateDpt(department.id)'>
        </form>
      </td>
  <!--Delete and Edit Functions-->
      <td class='delete-btn' (click)='deleteDpt(department.id)'>X</td>
      <td class='edit-btn' (click)='editForm(department.id, department.name, department.description)'>Edit</td>
    </tr>
  </tbody>

  <!--Add Form-->
  <div class = 'add'>
      Add a department to the list
      <form #add="ngForm" (ngSubmit)=addDpt()>
        <input type="text" [(ngModel)]="name" name="name" placeholder="Department Name">
        <input type="text" [(ngModel)]="description" name="description" placeholder="Description">
        <input type="submit" name="addDpt" value="Add Department">
      </form>
  </div>
