.text {
    font-size: 30px;
}

#right {
    float: right
}

tr .btn {
    margin-left: 5px;
}

.leftCol {
    width: 58%;
}

.rightCol {
    width: 42%;
}

.addTaskFormTxt {
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 17px;
}