<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"><h4>Home</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/tasks' routerLinkActive='active'><h4>Tasks</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/departments' routerLinkActive='active'><h4>Departments</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/employees' routerLinkActive='active'><h4>Employees</h4></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink='/calendar' routerLinkActive='active'><h4>Calendar</h4></a>
            </li>
        </ul>
    </div>
    <div class="white">
    WEB2 Project<br>
    Authors: Hafizh, Nhi and Thibault
    </div>
</nav>
<!-- 
<div class="navbar">
    <a class="navbar-item"  routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
        Home
    </a>
    <a class="navbar-item" routerLink='/departments' routerLinkActive='active'>
        Departments
    </a>
    <a class="navbar-item" routerLink='/employees' routerLinkActive='active'>
        Employees
    </a>
    <a class="navbar-item" routerLink='/tasks' routerLinkActive='active'>
        Tasks
    </a>
</div> -->
