<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/tasks' routerLinkActive='active'>Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/departments' routerLinkActive='active'>Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/employees' routerLinkActive='active'>Employees</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink='/calendar' routerLinkActive='active'>Calendar</a>
            </li>
        </ul>
    </div>
    <div class="white">
    WEB2 Project; Authors: Hafizh, Nhi and Thibault
    </div>
</nav>

<div class='text-center'>
    <button class="btn btn-sm btn-outline-warning" (click)="clear_local_storage()">click here to clear local storage, and get fresh data from API</button>
</div>
