<input [(ngModel)]='search' placeholder="Search Employees"  />

<form>
<thead *ngIf='employees.length > 0'>
	<th class='delete-btn'></th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Extras</th>
	<th>Department</th>
</thead>
<tbody>
	<tr *ngFor="let emp of employees | filter: search; let i = index" [ngClass]="{'colored-tr' : i % 2 === 0 }">
		<td class='delete-btn' (click)="delete(emp.id)">X</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.first_name'>{{emp.first_name}}</span>
				<input *ngIf='emp.edit.first_name' name='{{emp.first_name}}' type='text' placeholder='First name'
				[(ngModel)]="emp.first_name" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'first_name')">
				<span *ngIf='!emp.edit.first_name'>edit</span>
				<span *ngIf='emp.edit.first_name'>done</span>
			</span>
		</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.last_name'>{{emp.last_name}}</span>
				<input *ngIf='emp.edit.last_name' name='{{emp.last_name}}' type='text' placeholder='First name'
				[(ngModel)]="emp.last_name" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'last_name')">
				<span *ngIf='!emp.edit.last_name'>edit</span>
				<span *ngIf='emp.edit.last_name'>done</span>
			</span>
		</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.extra'>{{emp.extra}}</span>
				<input *ngIf='emp.edit.extra' name='{{emp.extra}}' type='text' placeholder='First name'
				[(ngModel)]="emp.extra" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'extra')">
				<span *ngIf='!emp.edit.extra'>edit</span>
				<span *ngIf='emp.edit.extra'>done</span>
			</span>
		</td>
		<td>
			<span *ngIf='emp.dpt'>
				{{emp.dpt.name}}
			</span>
		</td>
	</tr>
	<tr class='add-emp'>
		<td class='add-emp-td' (click)="add()">
			<input type='submit' class='add-emp-btn' value='add new employee' />
		</td>
		<td>
			<span class='field'>
				<input name='new_first_name' type='text' placeholder='First name'
				[(ngModel)]="first_name" />
			</span>
		</td>
		<td>
			<span class='field'>
				<input name='new_last_name' type='text' placeholder='Last Name'
				[(ngModel)]="last_name" />
			</span>
		</td>
		<td>
			<span class='field'>
				<input name='new_extra' type='text' placeholder='Extras'
				[(ngModel)]="extra" />
			</span>
		</td>
		<td>
			<span class='field'>
				<select [(ngModel)]="dpt_id" name="new_dpt_id">
					<option value=null selected disabled hidden>Choose a department</option>
  					<option *ngFor="let dpt of departments; let i = index" value="{{dpt.id}}">
						{{dpt.name}}
					</option>
				</select>
			</span>
		</td>
	</tr>
</tbody>
</form>
