th, td, caption {
    font-family: sans-serif;
}

caption {
    background: #ff4949;
    padding: 15px;
    vertical-align: text-top;
    font-weight: bold;
}

th {
    text-align: left;
    padding: 10px;
    border-bottom: solid 2px black;
}

td {
    padding: 5px;
    width: 190px;
    height: 30px;
    border-bottom: solid 1px black;
}

.title {
    padding: 10px;
}

.delete-btn {
    cursor: pointer;
    text-align: center;
    color: red;
    width: 15px;
}

.add-emp {
    background: #ff4949;
}

.add-emp:hover {
    background: #ff4949;
}

.add-emp-td {
    width: 15px;
    text-align: center;
    color: white;
}

.add-emp-btn {
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px white;
    padding: 5px 10px;
    background: #ff4949;
    color: white;
}

.add-emp-btn:hover {
    color: #ff4949;
    background: white;
}

.field {
    margin-right: 15px;
    height: 30px;
}

.edit-field {
    text-decoration: underline;
    cursor: pointer;
    float: right;
    color: red;
    transition: all 0.3s ease;
}

.edit-field:hover {
    color: white;
    transition: all 0.3s ease;
}

.colored-tr {
    background: #ffc9c9;
}

tr:hover {
    background: #fc7979;
}
