th, td {
    border: 1px solid black;
 }

th {
    background: #ff4949;
    padding: 10px;
    min-width: 370px;
    vertical-align: text-top;
}

td {
    padding: 5px;
}

.delete-btn {
    cursor: pointer;
    font-family: sans-serif;
    border: none;
    color: red;
}

.edit-btn {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.name {
    font-weight: bold;
}

.view-more {
    font-weight: 100;
    color: #ff4949;
    text-decoration: underline;
    cursor: pointer;
}

.form {
    height: 36px;
}

.extras {

}

.add {
    margin-top: 15px;
}
