<table>
	<caption>
		<span class='title'>Employees</span>
		<span class='add-btn' (click)='show_add_form = !show_add_form'>ADD</span>
		<div class='add' *ngIf='show_add_form'>
			<form>
				<input name='first_name' type='text' placeholder='First name' [(ngModel)]="first_name" />
				<input name='last_name' type='text' placeholder='Last name' [(ngModel)]="last_name" />
				<input name='extra' type='text' placeholder='Extras' [(ngModel)]="extra" />
				<input type='submit' value='add employee' (click)='add()' />
			</form>
		</div>
	</caption>
  	<tr>
		<th class='delete-btn'></th>
    	<th>First Name</th>
    	<th>Last Name</th>
    	<th>Extras</th>
  	</tr>
  	<tr *ngFor="let emp of employees">
		<td class='delete-btn' (click)="delete(emp.id)">X</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.first_name'>{{emp.first_name}}</span>
				<input *ngIf='emp.edit.first_name' name='first_name' type='text' placeholder='First name'
				[(ngModel)]="emp.first_name" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'first_name')">edit</span>
		</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.last_name'>{{emp.last_name}}</span>
				<input *ngIf='emp.edit.last_name' name='last_name' type='text' placeholder='First name'
				[(ngModel)]="emp.last_name" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'last_name')">edit</span>
		</td>
		<td>
			<span class='field'>
				<span *ngIf='!emp.edit.extra'>{{emp.extra}}</span>
				<input *ngIf='emp.edit.extra' name='extra' type='text' placeholder='First name'
				[(ngModel)]="emp.extra" />
			</span>
			<span class='edit-field' (click)="edit(emp, 'extra')">edit</span>
		</td>
	</tr>
</table>
