.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.column {
	/*float: left;
	width: 30%;*/
	padding: 5px;
	margin: 5px;
}

.classNotes {
	margin: 20px;
}