.selected {
    background-color: #CFD8DC !important;
    color: black;
  }

  .text {
    font-size: 30px;
}

#dash {
  margin-top: 30px;
}

#search {
  width: 300px;
  margin-right: 40px;
}

  li:hover {
    color: black;
    cursor: pointer;
    background-color: #DDD;
    left: .1em;
  }
