.selected {
    background-color: #CFD8DC !important;
    color: black;
  }

  .text {
    font-size: 20px;
}

#dash {
  margin-top: 30px;
}

#search {
  width: 20%;
  margin-right: 3%;
}

#selectedElement {
  margin-top: 15%;
}

  li:hover {
    color: black;
    cursor: pointer;
    background-color: #DDD;
    left: .1em;
  }
