.selected {
    background-color: #CFD8DC !important;
    color: black;
  }
  .list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    float: left;
  }
  .list li {
    cursor: pointer;
    width: 15em;
    list-style-type: none;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 0px 10px 10px 0px;
    padding: 15px;
    height: 1.6em;
    border-radius: 4px;
    float: left;
  }
  .list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  li:hover {
    color: black;
    background-color: #DDD;
    left: .1em;
  }

  
body {
  margin-top: 30px;
}