<div class="row text-center">
    <div class="col-md-12">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <div class="btn-group">
            <div
            class="btn btn-info"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Previous
      </div>
      <div
        class="btn btn-outline-info"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-info"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
</div>



<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 *ngIf="currentType === TYPE_TASK" class="modal-title">{{selectedItem.name}}</h5>
    <h5 *ngIf="currentType === TYPE_EMP" class="modal-title">{{selectedItem.first_name}} {{selectedItem.last_name}}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
    <div *ngIf="currentType === TYPE_TASK">
      <app-informations [task]='selectedItem'></app-informations>
    </div>
    <div *ngIf="currentType === TYPE_EMP">
      <app-informations [employee]='selectedItem'></app-informations>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>



 <div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>
</div>
